* {
  font-family: georgia;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.graph {
  margin: auto;
  width: 1020px;
}

.period {
  display: inline-block;
  font-size: 18px;
}

.legend {
  float: right;
  display: inline-block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}

.legend span {
  top: 5px;
  position: relative;
  font-size: 38px;
}

.fees {
  color: #F2777A;
}

.sales-fees {
  color: #6699CC;
}

.tooltip {
  position: absolute;
  display: none;
}

.tooltip span {
  position: relative;
  display: block;
  width: 150px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

svg {
  display: inline;
}

.x-axis path,
.x-axis line,
.y-axis path,
.y-axis line,
.year-axis line,
.year-axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke-width: 0;
}
.year-tick-axis line,
.year-tick-axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #222;
  stroke-width: 1;
}


.bar {
  fill: #6699CC;
}

.bar:hover {
  fill: #66CCCC ;
}

.fee-bar {
  fill: #F2777A;
}

table {
  margin: auto;
  width: 900px;
  text-align: center;
  text-size: 18px;
  border: 1px solid #eee;
}

th {
  font-family: 'Montserrat', sans-serif;
  background: #66CCCC;
}

th, td {
  padding: 10px;
  border: 1px solid #eee;
}
